body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}

hr{
    width: 500px;
}

#errors{
    color: rgb(255, 88, 88);
}

#board{
    width: 450px;
    height: 450px;

    /* background-color: blanchedalmond; */
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile{
    width: 48px;
    height: 48px;

    border: 1px solid lightgray;

    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tile-start{
    background-color: whitesmoke;
}

.tile:not(.tile-start):hover {
    background-color: #6bc4fe;
    color: #fff;
  }


#digits{
    width: 450px;
    height: 50px;

    /* background-color: yellow; */
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

}

.number{

    width: 44px;
    height: 44px;

    border: 1px solid black;
    margin: 2px;

    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;


}

.number-selected{
    background-color: #6bc4fe;
}

.horizontal-line {
    border-bottom: 1px solid black;
}

.vertical-line {
    border-right: 1px solid black;
}

#buttons{
    width: 450px;
    height: 50px;

    margin: 0 auto;
    display: flex;
    display: flex;
    justify-content: center; 
    gap: 10px;

}


.btn{
    width: 100px;
    height: 48px;

    border: 1px solid lightgray;

    font-size: 12px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    
} 

.btn:hover{
    background-color: rgb(172, 255, 172);
}

#lose{

    /* width: 450px;
    height: 50px; */

    margin: 0 auto;
    display: flex;
    font-size: 25px;
    color: rgb(255, 88, 88);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

}